<article class="row span11">
	<h1 class="row span11"><%= model.get("firstname") %> <%= model.get("surname") %></h1>
	<header class="span11">
		<h3>Member details</h3>
	</header>
	<table class="span11 table table-bordered table-striped">
		<tbody>
			<tr>
				<td>Party</td>
				<td><%=model.get("party")%></td>
			</tr>
			<tr>
				<td>Constituency</td>
				<td><%=model.get("constituency")%></td>
			</tr>
			<tr>
				<td>From</td>
				<td><%=model.get("fromDate")%></td>
			</tr>
			<tr>
				<td>To</td>
				<td><%=model.get("toDate")%></td>
			</tr>
			<tr>
				<td>Last Updated</td>
				<td><%=model.get("timestamp")%></td>
			</tr>
		</tbody>
	</table>
	<section id="speeches" class="span11">
		<p>Loading speeches...</p>
	</section>
</article>