<h1 class="row span12"><%= data.model.get("firstname") %> <%= data.model.get("surname") %></h1>
<article class="row span4">
	<header>
		<h3>Member details</h3>
	</header>
	<table class="table table-bordered table-striped">
		<tbody>
			<tr>
				<td>Party</td>
				<td><%=data.model.get("party")%></td>
			</tr>
			<tr>
				<td>Constituency</td>
				<td><%=data.model.get("constituency")%></td>
			</tr>
			<tr>
				<td>From</td>
				<td><%=data.model.get("fromDate")%></td>
			</tr>
			<tr>
				<td>To</td>
				<td><%=data.model.get("toDate")%></td>
			</tr>
			<tr>
				<td>Last Updated</td>
				<td><%=data.model.get("timestamp")%></td>
			</tr>
		</tbody>
	</table>
</article>