<ul class="pagination">
	<% 

		if(data.totalPages){

			if(data.previousPage){

				%>
				<li>
					<a href="#" data-pagination-page="<%=data.currentPage-1 %>">Previous</a>
				</li>
				<%	
			}

			if(data.totalPages < 10){
				printNumbers(data.currentPage, data.totalPages);
			}else{
				printNumbers(data.currentPage, notLowerThan(data.currentPage -5, 1), data.currentPage -1);
				printNumbers(data.currentPage, data.currentPage,data.currentPage);
				printNumbers(data.currentPage, data.currentPage +1, notHigherThan(data.currentPage + 5, data.totalPages));
			}
			

			if(data.currentPage != data.totalPages){

				%>
				<li>
					<a href="#" data-pagination-page="<%=data.currentPage+1 %>">Next</a>
				</li>	
				<%
			}
		}
	%>
</ul>


<%

	function printNumbers(current, start, end){
		for(var i = start; i <= end;i++){

			var classes = "";
			if(i == current){
				classes = "active";
			}
			%>
				<li>
					
					<a data-pagination-page="<%=i%>" href="#" class="<%=classes%>"><%=i %></a>
					
				</li>
			<%
		}
	}

	function notLowerThan(number, than){
		return number > than -1? number : than;
	}

	function notHigherThan(number, than){
		return number < than +1? number : than;
	}


%>