<ul class="pagination">
	<% 
		if(data.totalPages){

			if(data.previousPage){

				%>
				<li>
					<a href="#" data-pagination-page="<%=data.currentPage-1 %>">Previous</a>
				</li>
				<%	
			}

			var pageNumbers = generatePageNumbers(data.currentPage, data.totalPages);
			printNumbers(data.currentPage, pageNumbers);

			if(data.currentPage != data.totalPages){

				%>
				<li>
					<a href="#" data-pagination-page="<%=data.currentPage+1 %>">Next</a>
				</li>	
				<%
			}
		}
	%>
</ul>


<%

	function generatePageNumbers(currentPage, totalPages){
		var middleArr = _.range(currentPage - 2, currentPage + 3);

		var pageNumbers = [];
		
		pageNumbers.push(1);
		pageNumbers = pageNumbers.concat(middleArr);
		pageNumbers.push(totalPages);

		pageNumbers = sanitizePageNumbers(pageNumbers, totalPages);
		return pageNumbers;
	}

	function sanitizePageNumbers(numbersArr, numberOfPages){

		numbersArr = _.filter(numbersArr, function(num){
			return num > 0;
		});

		numbersArr = _.filter(numbersArr, function(num){
			return num <= numberOfPages;
		});

		return _.uniq(numbersArr);
	}

	function printNumbers(current, numbers){
		
		for(var i = 0; i <= numbers.length;i++){
			if(numbers.hasOwnProperty(i)){
			var classes = "";
			if(numbers[i] == current){
				classes = "active";
			}
			%>
				<li class="<%=classes%>">
					
					<a data-pagination-page="<%=numbers[i]%>" href="#"><%=numbers[i] %></a>
					
				</li>
			<%
			}
		}
	}

%>